.page {
  display: flex;
  flex-direction: column;

  max-width: 1366px;
  height: 1000px;
  margin: 0 auto;

  font-family: 'Lato', Arial, Helvetica, sans-serif;
  background-color: bisque;
}

.nav {
  width: 70px;
  height: 100vh;
  
}

.container {
  @include sm {
    padding-top: 40px;
    margin-left: 0;
  }

  flex: auto;
  margin-left: 70px;

  background-color: #EBEBEB;
}

