.page {
  display: flex;
  flex-direction: column;

  max-width: 1366px;
  margin: 0 auto;

  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.container {
  @include sm {
    display: flex;
    flex-direction: column;

    padding-top: 40px;
    margin-left: 0;
  }
  max-width: 1296px;

  margin-left: 70px;
}

