.page {
  display: flex;
  flex-direction: column;

  max-width: 1366px;
  margin: 0 auto;

  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.nav {
  @include background-gradient(to top);
  @include flexible(initial, center, column, nowrap);
  
  @include sm {
    @include background-gradient(to right);
    
    @include flexible(space-between, center, row, nowrap);
    
    min-height: 40px;
    width: 100vw;
  }

  position: fixed;
  z-index: 30;

  min-height: 100vh;
}

.container {
  @include sm {
    display: flex;
    flex-direction: column;

    padding-top: 40px;
    margin-left: 0;
  }
  max-width: 1296px;

  margin-left: 70px;
}

.content {
  display: flex;

  @include sm {
    flex-direction: column;
  }

}

.main {
  @include sm {
    padding: 0;
  }

  flex: auto;
  padding: 0.5em;

  background: #EDEDED;

  &__first-line {
    display: flex;

    @include md {
      flex-direction: column;
    }
  }

  &__second-line {
    display: flex;
    
    @include md {
      flex-direction: column;
    }

    @include xs {
      padding-right: 0.5em;
    }
  }
}
