.aside {
  
  display: flex;
  flex-direction: column;
  max-width: 271px;
  max-height: 870px;
  background: #FFFFFF;

  @include sm {
    max-width: 768px;
  }
  
}

.menu {
  @include background-gradient(to right);
  display: flex;

  & > div {
    position: relative;

    flex: auto;
    height: 48px;
  }

  & > div:hover,
  & > div:active {
    background-color: #C43E5B;
    cursor: pointer;
  }

  & > div:hover::after {
    content: '';

    position: absolute;
    bottom: -6px;
    left: 50%-6;

    width: 0;
    height: 0;

    border-top: 6px solid #C43E5B;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }

  .menu__btn--users {
    background: url(../img/aside/menu/users.png) no-repeat center;
  }
  .menu__btn--chat {
    background: url(../img/aside/menu/chat-white.png) no-repeat center;
  }
  
  .menu__btn--like {
    background: url(../img/aside/menu/like.png) no-repeat center;
  }
}

// actors
.actors-list {
  max-height: 516px;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding: 5px 20px 5px 0;

  background-color: #fff;

  @include sm {
    max-height: 168px;
  }
  

  &__item {
    display: flex;
    align-items: center;
    flex: auto;
    min-width: 170px;
    flex-basis: 244px;
    height: 83px;
    margin-left: 20px;

    border-bottom: 2px solid #F1F1F1;
  }
  
  &__item:last-child {
    border: none;
  }

  &__about {
    flex-grow: 1;
    margin-left: 18px;
    line-height: 10px;
  }
      
  &__name {
    @include text-gradient(to right);

    display: block;
    flex-shrink: 1;
    padding-bottom: 9px;

    font-size: 13px;
    font-weight: 700;
  }

  &__position{
    font-size: 10px;
    color: #BFBFBF;
    line-height: 13px;
  }

  &__chat {
    width: 20px;
    height: 16px;

    background: url(../img/aside/actors/chat-grey.png) no-repeat center;
    
  }
}

// Search
.search {
  flex: 0 0 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;

  border-top: 2px solid #F1F1F1;
  border-bottom: 2px solid #F1F1F1;
  background: #FFFFFF;

  @include sm {
    justify-content: center;
  }

  &__input {
    width: 163px;
    height: 26px;

    font-size: 12px;
    font-weight: 300;
    color: #000000;

    border: none;
    border-bottom: 2px solid #F1F1F1;
  }

  &__input:hover {
    border-color: $primary-color;
  }

  &__input::placeholder {
    font-size: 10px;
    font-weight: 300;
    text-transform: capitalize;
    color: #C0C0C0;

    outline: none;
  }

  &__submit {
    flex-shrink: 0;

    width: 20px;
    height: 20px;
    margin-left: 5px;

    border: none;
    background: url(../img/aside/search/search.png) no-repeat center;
    cursor: pointer;
  }

  &__edit {
    flex-shrink: 0;
    
    width: 20px;
    height: 20px;
    margin-left: 5px;

    border: none;
    background: url(../img/aside/search/edit.png) no-repeat center;
    cursor: pointer;
  }
}
